fastapi
uvicorn[standard]
bs4
python-dotenv
langchain
langchain-community
langchain-mistralai
langchain-ollama
langgraph
langsmith
duckduckgo-search
ddgs
langchain-text-splitters
pypdf==6.13.2
PyPDF2==3.0.1
supabase
langchain_openrouter
langchain-openai